*{
    margin: 0;
    padding: 0;
}
.divCart{
    display: flex;
    align-items: center;
}


.divCartCant{
    background-color: black;
    border-radius: 5px;
    padding: 2px;
    color: white;
    margin-left: 2px;
}